.container#tema_3

    .header-ecored
        h1 3. Productividad

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_1
            h2 3.1 Concepto Productividad

      .row.justify-content-center.align-items-center.mb-5
        .col-12.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/img_3_1_01.svg", alt="").img-fluid 
        .col-12
          p Se tomará el concepto del libro calidad y productividad de Humberto Gutiérrez Pulido.
          p Resultados que se obtienen de un proceso o sistema, por lo que incrementar la productividad es lograr mejores resultados considerando los recursos empleados para generarlos. La medición de la productividad resulta de valorar adecuadamente los recursos empleados para producir o generar ciertos resultados.(Gutiérrez, H, 2014)

      .row.justify-content-center.mb-5      
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Medición de la productividad 
        .col-12.mb-3
          p La medición de la productividad en los centros de contactos es necesario esto mantendrá la operación, este indicador puede afectar los costos, se evalúa si se cuenta con la cantidad de personal adecuado o se está por encima de lo estipulado. En estas operaciones constantemente se está realizando comparaciones con los agentes que se encuentren ejecutando la campaña, esto nos dará una visión de tomar las acciones e identificar los puntos a mejorar. Por ejemplo, falta de capacitación o desconocimiento de procesos. 
          p En forma general se puede medir la productividad de la siguiente manera:
        .col-auto.mt-4
          .jumbotron
            p.mb-0 #[strong % productividad =] Tiempo hablado + Tiempo Hold + ACW / Tiempo de conexión.  

      .row.mb-5
        .col-12
          h3 Importancia del indicador de productividad        
          p Es responsabilidad del supervisor mantener este indicador controlado, presentar una productividad baja significa que se tiene más agente de los que se requieren y una productividad alta impacta hacia el agente en cansancio, estrés, que generan ausentismos y rotación. La productividad también se ve afectada por la adherencia al turno, si no el supervisor no controla o el agente no cumple los tiempos de los auxiliares como el descanso, baño, retroalimentación. Tener en cuenta que entre mayor tiempo se esté en conversación, se generaran mayores ingresos económicos. 

      .row.justify-content-center.mb-5      
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Porcentaje de ocupación

        .col-10.d-flex.justify-content-center.mt-5
          img(src="assets/images/pages/tema_3/img_3_1_02.svg", alt="").img-fluid

        .col-12.mb-4
          p Este indicador permite identificar el tiempo que el agente habla con un cliente, respecto al tiempo que está disponible. Este porcentaje nos permite conocer la efectividad de los centros de contacto si se encuentra bien dimensionado, porcentajes de ocupación altos pueden generar stress, cansancio en los agentes y como se ha tratado en indicadores anteriores generan ausentismo y rotación del personal, se considera un buen porcentaje de ocupación entre un 70 y 80 %. Tener un porcentaje de ocupación excelente nos ayudará a mantener un nivel de servicio acorde además de los costos del centro de contacto.
          p Su fórmula es la siguiente: 

        .col-auto
          .jumbotron
            p.mb-0 #[strong % productividad =] Tiempo hablado + Tiempo Hold + ACW / Tiempo de conexión.  

      .row.justify-content-center.mb-5      
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Promedio de llamada contacto efectivo

        .col-12.mb-3
          p Este indicador nos muestra un promedio de contactos efectivo realizado en una campaña. Es decir, cuántos objetivo logrado, tener controlado este indicador nos ayudará a cumplir las metas propuestas por la compañía. Se puede evaluar de manera individual o por campaña, el supervisor realiza este seguimiento y comparación con los agentes que se encuentren desarrollando la campaña.  Al encontrar un promedio por debajo del estipulado se debe analizar las posibles causas (capacitaciones, manejo de objeciones) de afectación para el no cumplimiento. Los datos de los contactos efectivos se pueden extraer del CRM. 

        .col-12
          .jumbotron.mb-0
            p.mb-0 Este indicador es importante medirlo teniendo en cuenta como referencia las llamadas atendidas. 
      
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/info_3_1_01.svg", alt="").img-fluid

      .row.justify-content-center.mb-5      
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Promedio de llamada contacto no efectivo

        .col-12
          p En este indicador se puede medir el promedio de contactos que no se logran los objetivos. Si este indicador es superior a los contactos efectivos, se debe analizar que puede estar sucediendo. A igual que el indicador promedio de llamadas efectivas, este se puede medir individualmente es decir por agentes o por campaña. 

      .row.justify-content-center    
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Llamadas por hora

        .col-12
          p Es el promedio de llamadas contestadas en una hora, es decir número de llamadas por hora / el número de horas del periodo de medición. Al supervisar este indicador se logra tener en control en atención de llamada e identificar los agentes que se encuentren por debajo de la meta, al obtener un promedio muy bajo puede significar que se están demorando en el AHT y esto afectaría el nivel de servicio.


    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 Escucha de grabaciones para mejorar la productividad
      
        .col-12
          p.mb-5 Las grabaciones del centro de contacto son una herramienta que nos entregaran información referente a la productividad, aquí radica la importancia de los monitores de calidad, tener un formato de calificación calibrado con un objetivo y no solo para brindar la calificación; al escuchar las grabaciones, se logra detectar factores que provocan una baja productividad y esto ayudará a tomar las acciones para mejorarlas. Analizando el desempeño por agente se logrará detectar aquellos por ejemplos se encuentran con una duración de llamada presentan un tiempo de conversación por arriba del valor estipulado, es decir su AHT. Diariamente en promedio y dependiendo de la campaña un agente puede estar contestado en promedio entre 40 y 60 llamadas diarias, y si se tiene 15 agentes por campañas se estarían generando 600 llamadas diarias, esto sería casi imposible escucharlas una a una para detectar los factores que puedan afectar mi productividad. Se puede tomar llamadas que se encuentran por encima de umbral, llamadas no efectivas que se encuentran por encima del umbral y llamadas efectivas que se encuentran por debajo del umbral. 

      .row.mb-5
        .col-12
          .header-arrow
            h3.mb-0.text-center Al analizar las grabaciones se puede identificar las siguientes causas

      .row.justify-content-center.align-items-center.my-5
        .col-auto.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/img_3_2_01.svg", alt="", style="width:300px").img-fluid 
        .col
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Saludo inicial es muy largo esto resta tiempo de su gestión.         
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Falta de escucha activa.      
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Inconvenientes en búsqueda de información, en ocasiones los centros de contacto, tienen muchas aplicaciones y la falta de conocimiento, experiencia consumen tiempo en la llamada.        
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Tono de voz pasivo, poca vocalización, dicción.

      .row.my-5
        .col-12
          .header-arrow
            h3.mb-0.text-center Luego de identificado las causas se debe tomar las medidas para corregirlas o minimizarlas, entre ellas se encuentran       

      .row.justify-content-center.align-items-center.mb-5        
        .col-12.col-md-auto.col-lg-6.order-2.order-md-1
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Capacitación permanente.         
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Modificación del guion.    
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Realizar retroalimentación escuchando sus propias grabaciones y la de sus compañeros que obtuvieron un promedio adecuado.          

        .col-auto.d-flex.justify-content-center.order-1.order-md-2.mb-5.mb-md-0
          img(src="assets/images/pages/tema_3/img_3_2_02.svg", alt="", style="width:300px").img-fluid 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_3
            h2 3.3 Rotación de agentes
        .col-12
          p Este indicador muestra un porcentaje de los agentes que ingresan y salen de los centros de contactos, la rotación es un factor particular en los centros de contacto teniendo en cuenta que la rotación es alta comparándola con otros trabajos esto se debe a: 

      .row.justify-content-center.align-item-center.mb-5
        .col-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_1_01.svg", alt="").img-fluid
              .card__copy
                p.mb-0 #[strong Falta de ascenso en la organización o compañía.]
                p.mb-0 Si el agente analiza que no encontrará crecimiento o que las vacantes con cargos de mayor responsabilidad como supervisor y monitores de calidad generará desmotivación buscando otro trabajo. 
        .col-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_1_02.svg", alt="").img-fluid
              .card__copy
                p.mb-0 #[strong Deficiente supervisión.] 
                p.mb-0 Aquí radica la importancia del cargo del supervisor el cual debe contar con unas características y manejo del personal, el supervisor debe ser visto como un guía, apoyo, no como el buscador de las equivocaciones para generar memorandos o amenazas, teniendo en cuenta esto, la excelente supervisión generará un ambiente agradable en los centros de contactos y se logrará la mejora continua para lograr resultados esperados por la compañía.  
        .col-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_1_03.svg", alt="").img-fluid
              .card__copy                
                p.mb-0 #[strong Proceso de selección.] 
                p.mb-0 Las oportunidades laborales en los centros de contacto son muy altas, se encuentra a diarios vacantes y ocasiones no se cuenta con el personal inmediato para desempeñar las funciones, esto puede generar una selección inadecuada por la rapidez de cubrir la vacante se debe tener en cuenta que ser agentes de contact center requiere de unas características y capacidades, al no cumplirlas, se obtendrá la renuncia o despedido. 

      .row.mb-5
        .col-12
          .header-arrow
            h3.mb-0.text-center Para mantener un indicador de rotación estable se debe tener en cuenta    

      .row.justify-content-center.align-item-center.mb-5
        .col-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_1_04.svg", alt="").img-fluid
              .card__copy
                p.mb-0 #[strong Excelente proceso de selección del personal.]
                p Este debe contar con las capacidades necesarias.

        .col-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_1_05.svg", alt="").img-fluid
              .card__copy
                p.mb-0 #[strong Ambiente adecuado:] Es importante que el personal de contact center se encuentre en un ambiente agradable y adecuado, teniendo en cuenta que ellos pasan horas sentados delante de un computador, además de generar altos niveles de estrés, es importante que sus herramientas estén acordes a sus necesidades, además de contar con espacios de esparcimientos, pausas activas teniendo en cuenta sus jornadas laborales.

        .col-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_1_06.svg", alt="").img-fluid
              .card__copy
                p.mb-0 #[strong Incentivos:] Se puede establecer un plan de incentivos para los agentes que logren cumplir las metas asignadas o cumplimiento de indicadores descritos anteriormente, estos incentivos no solo deben ser económicos, puede ser reconocimientos, horas libres, flexibilidad en escogencia de los turnos etc.

      .row.mb-5
        .col-12
          .header-arrow
            h3.mb-0.text-center Existe dos tipos de rotación la voluntaria y la no voluntaria. 
      .row
        .col-6  
          .custom-table__title              
            p Rotación voluntaria
        .col-6
          .custom-table__title.ct-color
            p Rotación no voluntaria
      .row.mb-5
        .col-6
          .custom-table__item.oddColor
            p.mb-0 Es cuando el agente de manera voluntaria decido retirarse o renunciar al centro de contacto, generalmente sucede cuando este encuentra una mejor oferta de trabajo (cargo – salario). No se debe descuidar el indicador si es muy alto se debe analizar y tomar acciones.            
        .col-6
          .custom-table__item.oddColor
            p.mb-0 En esta rotación se encuentran los despidos, enfermedades, muerte, incapacidad permanente, generalmente los despidos son generados por malas prácticas realizadas o ausentismos e incumplimiento de las métricas establecidas. 

      .row.justify-content-center.mb-5
        .col-auto
          .jumbotron.mb-0
            p.mb-0 #[strong Porcentaje de rotación = ] Total de egresos/ Planta inicial. 
      .row
        .col-12 
          p Al no tener en cuenta los ingresos de personal en esta fórmula, este se puede afectar si los ingresos son representativos, entonces se puede utilizar el promedio diario de empleados durante el periodo a evaluar. 
          p.mb-0 Tener control de este indicador nos ayudará a tener un centro de contacto productivo, se debe tener en cuenta que existe una curva de aprendizaje y si existe mucha rotación puede llegar afectar nuestros indicadores. 

       
      

              