.container#tema_1

    .header-ecored
        h1 1. Medición y su importancia en el contact center

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Concepto de medición 

      .row.justify-content-center.align-items-center
        .col-12.col-md-8.my-5
          img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="").img-fluid 
        .col-12
          p En contact center las mediciones son importantes, debido a que permiten conocer el desempeño de la operación administrativa y operativa, lo cual ayuda a tomar decisiones que influyen en el cumplimiento de las metas establecidas por la compañía.
          p Por esta razón, es necesario conocer el significado de medición. En la web podemos encontrar varios significados que se tomarán como referencia: “La medición es la acción de medir, o sea, determinar mediante instrumentos o mediante una relación o fórmula previa, un resultado dentro de los parámetros escogidos” (Medición, 2019, párrafo 1).
     
    
    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 Importancia de la medición en el contact center
      .row
        .col-12
          p.mb-0 En el sector del contact center no se puede trabajar a ciegas, esto quiere decir que se debe tener controlado el trabajo operativo mediante indicadores y mediciones, si se hace referencia a la siguiente frase del físico William Thomson Kelvin:

      .row.justify-content-center.align-items-center.my-5        
        .col
          .jumbotron.mb-0
            p.mb-0 #[strong “Lo que no se define no se puede medir. Lo que no se mide, no se puede mejorar. Lo que no se mejora, se degrada siempre”.] Esto nos ratifica la importancia y control de las mediciones. 
        .col-auto
          img(src="assets/images/pages/tema_1/img_1_2_01.svg", alt="", style="width:300px").img-fluid 

      .row
        .col-12
          p.mb-0 La medición debe ser de manera constante y sus acciones inmediatas, los centros de contacto deben contar con el personal capacitado para la toma de decisiones y la obtención de sus metas y objetivos. En lo posible, la medición debe ser automatizada, si no es posible debe ser poco el trabajo que se realice de manera manual para evitar errores humanos.    