include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Indicadores críticos en #[i contact center] para campañas #[i Inbound]
        meta(meta name="description" content="Ruta de aprendizaje programa Indicadores críticos en #[i contact center] para campañas #[i Inbound].")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Evaluador de competencias laborales en el área técnica de su dominio
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Indicadores críticos en #[i contact center] para campañas #[i Inbound]
                                        li 
                                            span #[strong Código:] 62350002
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] experiencia laboral certificada de 3 meses en atención de campañas en #[i contact center] o 6 meses de formación en el área de #[i contact center].

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/KCUjL3RPMpI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 ¡Hola!, te damos la bienvenida al Curso de indicadores críticos en #[i contact center] para campañas #[i Inbound].  

                p Este curso te permitirá desarrollar habilidades para las operaciones de contact center, es importante la medición permanente de las operaciones, lo que facilita la toma de decisiones y las acciones pertinentes para el cumplimiento de las metas establecidas.  Por medio del desarrollo de este curso, se podrá determinar los diferentes indicadores para estas campañas, además de aplicar las medidas de control en la operación de #[i contact center]. 

                p A partir de la medición permanente que se da en los contact center, se facilita la toma de decisiones encaminadas a ejecutar acciones preventivas y correctivas

                p Así mismo se visualizarán contenidos relacionados con las operaciones e impactos significativos, causados en las entidades que realizan campañas alrededor del portafolio del contact center.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 Las empresas de #[i Business Process Outsourcing] (BPO) en Colombia, están invirtiendo importantes recursos en nuevas tecnologías y certificaciones internacionales, para que su oferta se posicione mejor a nivel mundial y que el país sea cada vez más reconocido como un proveedor confiable de servicios que responde adecuadamente a las necesidades de clientes internacionales. Así mismo, la industria BPO colombiana y el talento asociado a esta, han demostrado que aportan de manera significativa a la generación de nuevos negocios internacionales y las oportunidades de empleo de valor con más de 250.000 personas que se emplean en esta industria.

                p Actualmente, el sector BPO participa en el 2,8% del Producto Interno Bruto (PIB) colombiano con ventas aproximadas de 8,3 billones de pesos. Según el Departamento Administrativo Nacional de Estadísticas (DANE), las exportaciones de servicios de #[i call centers] presentaron un incremento de 13 %, alcanzando los US$ 458,6 millones en 2018. Cerca del 40 % de esas ventas tuvo como destino Estados Unidos, seguido por España con 24,1 % y Chile con 10,8 %. Asimismo, Colombia representa el 13,4 % de las ventas de los BPO en América Latina (ProColombia, 2019).

                p Esta descripción de la participación del sector BPO en el panorama de negocios en Colombia permite inferir que la cualificación del personal que participa en el mismo es fundamental. En las operaciones de #[i contact center] es importante la medición permanente, debido a que facilita la toma de decisiones encaminadas a ejecutar acciones preventivas y correctivas. Se debe tener presente que las variaciones de los indicadores se presentan de manera constante durante el día. La inacción frente a este fenómeno, el desconocimiento de los mismos y sus impactos en la operación generaría pérdidas significativas que al final redundan en la disminución de ingresos causados por la campaña y la posible eliminación del portafolio del #[i contact center] que la ofrece.

                p El agente brinda un aporte significativo al cumplimiento de los objetivos misionales de la organización al incidir directamente en los indicadores; razón por la cual, debe tener claridad sobre cómo se definen y los objetivos de control que cada uno de ellos busca. De esta manera, es posible generar un sentido de pertenencia y seguimiento de las metas, además permite conocer específicamente el valor que aporta a la compañía. 

                p Por lo anterior, se propone el curso de Indicadores críticos en #[i contact center] para campañas #[i Inbound], dirigido al personal con formación o experiencia previa, con una intención clara de aportar un valor significativo y determinante para el sector.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Dirigido al personal que labora en el área operativa de #[i Contact Center] y aprendices con estudios en el área de BPO y Contact Center que deseen profundizar acerca de indicadores en #[i contact center Inbound]. 


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





